
<div class="form-group d-flex justify-content-end">
    <a href="#Admin/Create" class="btn btn-primary">Add New User</a>
</div>

<table class="table table-striped table-bordered table-hover" id="usersTable" cellspacing="0" align="center" width="100%"></table>

<div class="modal fade" id="modalView" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modalViewLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalViewLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeModalFromCornerBtn"></button>
            </div>
            <div id="modalContent">
            </div>
        </div>
    </div>
</div>


<script type="module">
    // import module dataTables module
    import { userTable } from '/IDCore.JS/Datatables/userTable';
    userTable();
</script>