<div class="container justify-content-center text-center" style="background-color: #f8f9fa; color: #343a40;">
    <h1 style="color: #007bff;">Admin Panel</h1>
</div>


<p>
    <a href="#Admin/Create" class="btn btn-primary">Create New</a>
</p>

<table id="usersTable" class="table table-striped container" style="width:100%"></table>

<script type="module">
    // import module    
    import { GetUserList } from '/IDCore.JS/Views/Admin/Index';
    GetUserList();
</script>