

<div class="container justify-content-center text-center" style="background-color: #f8f9fa; color: #343a40;">
    <h1 style="color: #007bff;">Admin Panel</h1>
</div>


<p>
    <a href="#Admin/Create" class="btn btn-primary">Create New</a>
</p>

<table id="usersTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Is Active</th>
            <th>User roles</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
</table>



@Scripts.Render("~/IDCore.JS/Views/Admin/Index")