<div class="container justify-content-center text-center" style="background-color: #f8f9fa; color: #343a40;">
    <h1 style="color: #007bff;">Dashboard</h1>
</div>

<div class="row mt-3 mb-3">
    <div class="col-8">
        <div class="form-group d-flex justify-content-start">
            <a href="#Dashboard/Add" class="btn btn-primary">Add New</a>
        </div>
    </div>
    <div class="col-3">
        <div class="form-group d-flex justify-content-end">
            <a href="#Dashboard/Upload" class="btn btn-info">Upload</a>
        </div>
    </div>
    <div class="col-1">
        <div class="form-group d-flex justify-content-end">
            <a href="#Dashboard/Export" class="btn btn-success">Export</a>
        </div>
    </div>
</div>

<table id="incidentsTable" class="table table-striped container" style="width:100%"></table>

<script type="module">
    // import module
    import { GetIncidentList } from '/IDCore.JS/Views/Dashboard/Index';
    GetIncidentList();
</script>